body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  background: white;
}

.block {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

/* Outer Zones without borders */
.red-zone,
.yellow-zone,
.green-zone,
.blue-zone {
  border: none;
}

/* Colored Zones */
.red-zone {
  background: #ff4d4d;
}

.yellow-zone {
  background: #ffff66;
}

.green-zone {
  background: #66ff66;
}

.blue-zone {
  background: #4da6ff;
}

/* Safe Zones - light shades */
.red-safe {
  background: #ff9999;
  border: 1px solid #ccc;
}

.yellow-safe {
  background: #ffffb3;
  border: 1px solid #ccc;
}

.green-safe {
  background: #b3ffb3;
  border: 1px solid #ccc;
}

.blue-safe {
  background: #b3d9ff;
  border: 1px solid #ccc;
}

/* White Path */
.white-path {
  background: white;
  border: 1px solid #ccc;
}

/* Center HOME */
.center-home {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.start-red {
  background-color: #cc0000;
  border: 2px solid black;
}

.start-blue {
  background-color: #0059b3;
  border: 2px solid black;
}

.start-green {
  background-color: #009933;
  border: 2px solid black;
}

.start-yellow {
  background-color: #e6b800;
  border: 2px solid black;
}

.star-spot {
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
